/* ====================
- General styles
==================== */

/* main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f6fa;
}

form {
    width: 600px;
    background-color: white;
    padding: 2rem;
}

form h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

form .form-group {
    margin-top: 1rem
}

form .form-group label {
    width: 100%;
    display: block;
    margin-bottom: 0.5rem;
}

form .form-group input {
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem
}

form button[type="submit"] {
    margin-top: 1.5rem;
    padding: 0.8rem 1.8rem;
    border: none;
    color: white;
    background-color: rgb(48, 48, 255);
    border-radius: 0.3rem;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
}

form button[type="submit"]:hover {
    background-color: rgb(25, 25, 222);
} */
/* Estilos CSS para el formulario de login */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f1ea; /* Color de fondo claro */
}

#login {
  background-color: #e0d7c9; /* Color de fondo del formulario */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  max-width: 400px;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  color: #4a4a4a; /* Color del título en tono sepia */
}

p {
  text-align: center;
  color: #4a4a4a; /* Color del texto en tono sepia */
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  color: #4a4a4a;
}

input[type="email"],
input[type="password"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
}

button {
  background-color: #6c5b7b;
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #563d67;
}
